<%= title 'Categories' %>
<% at_page('categories') %>

<div class="row">
  <div class="col-2 offset-10">
    <%= link_to 'Add category', new_category_path, class: 'btn btn-primary btn-sm mb-5 float-right'%>
  </div>
</div>
<%= render @categories %>